# Imported functions
importFrom("grDevices", "pdf")
importFrom("stats", "lm.fit", "lm.wfit", "pt")
importFrom("stats", "qchisq")
importFrom("graphics", "segments")
importFrom("methods", "is")
importFrom("stats", "ppoints")
importFrom("stats", "update")
importFrom("graphics", "pairs")
importFrom("stats", "coef", "cooks.distance", "lm", "na.exclude", "predict", "qf", "qnorm", "quantile", "resid", "shapiro.test")
importFrom("grDevices", "dev.off", "recordPlot")
importFrom("graphics", "legend", "polygon")
importFrom("stats", "TukeyHSD")
importFrom("car", vif)
importFrom("stats", "model.frame", "model.matrix")
importFrom("doBy", summaryBy)
importFrom("car", leveneTest)
importFrom("MASS", boxcox)
importFrom("graphics", "par", "plot")
importFrom("stats", "runif")
importFrom("graphics", "hist", "lines")
importFrom("stats", "density", "dnorm", "sd")
importFrom("grDevices", "dev.new")
importFrom("car", "qqPlot")
importFrom("graphics", "abline", "axis")
importFrom("stats", "pf")
importFrom("utils", "write.table")
importFrom("graphics", "points")
importFrom("stats", "aggregate", "anova", "aov", "formula", "na.omit")
importFrom("grDevices", "gray.colors", "palette")
importFrom("graphics", "arrows", "box")
importFrom("stats", "complete.cases", "qt")
importFrom("stats", "loess")
importFrom("stats", "median")
importFrom("utils", "flush.console")
importFrom("stats", "contr.treatment")
importFrom("dplyr", "inner_join")
importFrom("stats", "pnorm")
importFrom("stats", "AIC")

# Functions
exportPattern("^[[:alpha:]]+")
#export(summary.FitNormModel) 
#export(plot.FitNormModel) 
#export(summary.MakeNormTable.Percentiles)
#export(summary.MakeNormTable.TestScores) 
export(summary.Bootstrap.Stage.2.NormScore)
#export(summary.CompareNormTables)
export(summary.ExploreData)
export(summary.ICC)
export(plot.ICC)
export(summary.Stage.2.NormScore)
export(summary.GLT)
export(plot.Stage.2.NormScore)
export(plot.ExploreData)
export(plot.Stage.1)
export(plot.Bootstrap.Stage.2.NormScore)
export(summary.Stage.1)
export(summary.Stage.2.NormTable)
export(plot.CheckFit)
export(summary.CheckFit)
export(summary.Sandwich)
export(summary.Tukey.HSD)
export(plot.Tukey.HSD)


# S3 methods
S3method(summary, Tukey.HSD)
S3method(plot, Tukey.HSD)
S3method(summary, CheckFit)
S3method(plot, CheckFit)
#S3method(summary, MakeNormTable.Percentiles)
#S3method(summary, MakeNormTable.TestScores)
#S3method(summary, CompareNormTables)
S3method(summary, ExploreData)
S3method(summary, ICC)
S3method(summary, GLT)
S3method(plot, ICC)
S3method(summary, Stage.2.NormScore)
S3method(plot, Stage.2.NormScore)
S3method(plot, ExploreData)
S3method(plot, Stage.1)
S3method(plot, Bootstrap.Stage.2.NormScore)
S3method(summary, Stage.1)
S3method(summary, Stage.2.NormTable)
S3method(summary, Sandwich)
S3method(summary, Bootstrap.Stage.2.NormScore)